<h1>Show Article</h1>

  <p>Title: <%= @article.title %></p><br>
  <p>Content:</p>
  <%= @article.content %><br>
  <%= image_tag(@article.image) %><br>
  <%= @article.category_id %><br><br>

  <%= link_to 'Edit', edit_article_path(@article.id) %>
  <%= link_to 'Delete', article_path(@article.id), method: :delete %>


<%= link_to 'Back', articles_path %>
